@font-face {
    font-family: DePixelKlein;
    src: url("../fonts/DePixelKlein.ttf");
}
@font-face {
    font-family: DePixelHalbfett;
    src: url("../fonts/DePixelHalbfett.ttf");
}
@font-face {
    font-family: DePixelBreit;
    src: url("../fonts/DePixelBreit.ttf");
}

body {
    background: black;
    color: white;
    padding: 0;
    margin: 0;
    
    overflow: hidden;
}
