@font-face {
    font-family: DePixelKlein;
    src: url("DePixelKlein.ttf");
}

@font-face {
    font-family: DePixelHalbfett;
    src: url("DePixelHalbfett.ttf");
}

@font-face {
    font-family: DePixelBreit;
    src: url("DePixelBreit.ttf");
}

body {
    background: black;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    filter: none;
}

.loadiv, .loadiv2 {
    height: 100vh;
    width: 100%;
    background-color: sandybrown;
    color: black;
    text-align: center;
    font-size: 36px;
}

.loadiv button, .loadiv2 button, .loadiv input, .loadiv2 input {
    background-color: darkslategray;
    color: white;
    font-size: 48px;
    border: 8px solid gray;
    margin-top: 20px;
}

canvas {
    -webkit-user-drag: none;
    user-select: none;
}