@font-face {
    font-family: DePixelKlein;
    src: url("../Fonts/DePixelKlein.ttf");
}
@font-face {
    font-family: DePixelHalbfett;
    src: url("../Fonts/DePixelHalbfett.ttf");
}
@font-face {
    font-family: DePixelBreit;
    src: url("../Fonts/DePixelBreit.ttf");
}

body {
    background: black;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    filter: none;
}
